*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


html{
    background-color: #5548a7;
}

.nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-top: 10px;
    width: 98%;
    border-radius: 10px;
}

.logo
{
    
    display: flex;
    align-items: center;
    transform: translateX(-180px);
    padding: 5px 10px;

}

.logo img
{
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.logo h1 span
{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #FFE017;
  transform: translateY(-8px);
}

.menu
{
    display: flex;
    align-items: center;
    gap: 18px;
   float: right;
   transform: translateX(200px);
}

li
{
    list-style-type: none;

}

a
{

    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color:darkblue;
    text-decoration: none;
    padding:5px;
    transition: all 0.6s ease;
}

a:hover
{
    background-color: #FFE017;
    border-radius: 10px;
    border: 0;
    color: white;
    transition: all 0.6s ease;
}

a:active
{
    background-color: #5548a7;
    color: #FFE017;
    transition: all 0.6s ease;
}

marquee
{
    color: white;
}

.boxp1
{
    display: flex;
    margin-top: 15px;
    padding: 10px 14px;
    align-items: center;}

.qoralka 
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 50px;
}  


strong
{
    color: white;
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-shadow: 4px 6px 4px #FFE017;

}

.qoralka span{
    color:#FFE017;
    margin-left: 5px;
}

.text p
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    color:white;
   letter-spacing: 1px ;
   margin-top: 10px;
}

.img img
{
    float: left;
    box-shadow: 4px 4px 10px #FFE017;
    width: 440px;
    border-radius: 30px;
}

hr
{
    width: 98%;
    color: white;
    margin-top: 20px;

    }




.boxp2
{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    color: white;
    margin-top: 10px;
}
.boxp2 span
{
    color: #FFE017;
}

.boxses
{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.box1
{
    background-color: rgb(31, 17, 17);
    opacity:0.60;
    width: 420px;
    height: 180px;
    color: white;
    cursor: pointer;
    padding: 5px 6px;
    transition: all 0.6s ease;
    border-radius: 30px;
}
.box1:hover
{
 transform: translateY(-8px);
  transition: all 0.6s ease;
}
.box1 img
{
    width: 100px;
    height: 100px;
    border: 3px solid #FFE017;
    border-radius: 100px;
    background-color: white;
}

.box1 h2
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-style: normal;
    text-shadow: 2px 2px 10px #FFE017;
}

.box1 p
{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;

}

.ser
{
    display: flex;
    align-items: center;
    background-color:transparent;
    width: 98%;
    height: 10rem;
    margin-top: 60px;
}
input
{
    background-color:whitesmoke;
    outline: none;
    border: 1px solid #5548a7;
    color: #000;
    border-radius: 20px;
    width: 850px;
    height: 2rem;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:400;
   margin-left: 40px;
    
}

::placeholder
{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FFE017;
}

.ser button
{
    width: 80px;
    height:25px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color:purple;
    color: whitesmoke;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px 2px 10px #FFE017;
    transition: all 1s ease;
}

.ser button:hover
{
    background-color: #FFE017;
    color: purple;
    transition: all 1s ease;
}

::selection
{
    background-color: #FFE017;
    color:purple;
}

.boxp3
{
    text-align: center;
}

.boxp3 h1 span
{
    color: #FFE017;
}


.boxp3 h1
{
    color:white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-shadow: 1px 1px 4px white;
}




.boxses2
{
    display: flex;
}

.box4
{
    background-color: rgb(31, 17, 17);
    opacity:0.60;
    width: 420px;
    height: 180px;
    color: white;
    cursor: pointer;
    padding: 5px 6px;
    transition: all 0.6s ease;
    border-radius: 30px;
    transition: all 0.8s ease;
    margin-top: 10px;

}
.box4:hover
{
    background-color: rgb(31, 17, 17);
    transform: translateY(-10px);
    transition: all 0.8s ease;
}

.box4 img
{
    border: 2px solid #FFE017;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.box4 h2
{
    text-shadow: 2px 2px 8px #FFE017;
}

footer
{
    background-color: #000;
    white-space: 98%;
    height: 3rem;
    margin-top: 10px;
    border-radius: 4px;
    color: white;
    padding: 10px 2px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
}

@media screen and(max-width:768px;){

    .nav
    
}

